


@font-face {
    font-family: 'BrunoAce';
    src: url('../BrunoAceRegular.ttf') format('truetype');
}




body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    
    margin: 0;
    padding: 0;
    background-color:#1A1A1A;

    
}

#wrapper {
    position: absolute;

    width: 150vw;
    height: 150vh;
    margin: 0;
    padding: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.movingImage {
    position: absolute;
    background-color: rgb(209, 227, 243);
    
    top: 1028px;
    left: 0%;
    border-radius: 15px;

    transition: 1s ease;
}

.movingImage img {
    opacity: 1;
    border-radius: 15px;

    transition: 1s ease;
}

.movingImage:hover  {
    transform: scale(1.02);
}

.movingImage:hover img {
        opacity: 1;
}

#titleWrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    opacity: 1;
    margin: 0;
    padding: 0;
    top: 0px;
    font-family: 'BrunoAce';
    font-style: normal;
    font-weight: 500;
    font-size: 128px;
    line-height: 100%;
/* or 128px */

text-align: center;
letter-spacing: 0.85em;

    color: #ffffff;

    #bottom {
        margin-left: 85px;
    }
}

#terrain {
    position: fixed;
    width: 120vw;
    height: 120vh;
}


nav {
    position:fixed;
    width: 100%;
    max-width: calc(100% - 40px);
    height: fit-content;
    margin: 20px;
    padding: 0;



    display: flex;
    justify-content: flex-start;
    align-items: center;

}

nav a:first-child {
    margin-right: auto;
}

nav a:not(:first-child) {
    margin-left: 70px;
}

h3 {
    color: #ffffff;  
    font-family: 'BrunoAce';
    font-style: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
a {
    text-decoration: none;
}




.nav a {
    border-bottom: 2px solid rgb(255, 255, 255); /* initially transparent */
    
}

nav a:hover {
    border-bottom: 2px solid rgb(134, 38, 243) ;
}
