h1, h2, h3, h4  {
    padding: 0;
    margin: 0;
    font-family: 'BrunoAce';
}



@font-face {
    font-family: 'BrunoAce';
    src: url('../BrunoAceRegular.ttf') format('truetype');
}




body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    
    margin: 0;
    padding: 0;
    background-color:#000000;

    cursor: none;
}

#cursor {
    width: 30px;
    height: 30px;
    transform: translate(-15px, -15px);
    background-color: #3909C2;
    border-radius: 50%;
    position: absolute;
    transition: 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #cursor img {
    opacity: 0;
    transition: opacity 0.2s ease 0.3s; /* added delay of 1s */
  }
  
  #cursor.hovering img {
    opacity: 1;
  }
  
  #cursor.hovering {
    width: 70px;
    height: 70px;
  }


#wrapper {
    position: absolute;

    width: 150vw;
    height: 150vh;
    margin: 0;
    padding: 0;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.movingImage {
    position: absolute;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.selected {
    position: fixed !important;
    z-index: 10 !important;
    top: 0px !important;
    left: 0px !important;
}

.movingImage img {
    border-radius: 15px;
}

.movingImage:hover  {
    transform: scale(1.02);
}

.imgOverlay {
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 5%, rgba(0,0,0,0) 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;

    opacity: 0;
    transition: 0.5s ease-in-out;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.imgOverlay:hover{
    opacity: 1;
}

.imgOverlay p {
    color: #ffffff;
    font-family: 'BrunoAce';
    font-style: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 500;

    margin: 15px;
}

#titleWrapper{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    position: relative;
    margin: 0;
    padding: 0;
    height: 128px;
    width: 100%;
    
    font-weight: 500;
    font-size: 128px;
    text-align: center;
    letter-spacing: 0.85em;
    color: #ffffff;
    overflow: hidden;
  }
  h1 span {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
  }
  #top {
    animation: 1s fadeInTop ease forwards;
  }
  #bottom{
    animation: 1s fadeInBot ease-out forwards;
  }
  @keyframes fadeInBot {
    from {
        
        transform: skewY(10deg);
        top: 300%;
    }
    to {
        top: 0;
        left: 0;
        transform: skewY(-2deg);
    }
  }
  @keyframes fadeInTop {
    from {
        transform: skewY(-20deg);
        top: -200%;
    }
    to {
        top: 0;
        left: 0;
        transform: skewY(-3deg);
    }
  }

#terrain {
    position: fixed;
    width: 120vw;
    height: 120vh;
}


nav {
    position:fixed;
    width: 100%;
    max-width: calc(100% - 40px);
    height: fit-content;
    margin: 20px;
    padding: 0;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav a:not(:first-child) {
    margin-left: 70px;
}
nav a h3 {
    color: #dadada;  
    font-family: 'BrunoAce';
    font-style: normal;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    transition: 0.7s ease;
}
nav a h3:hover {
    color: #ffffff;
}
a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
  }
a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#921ADF;
    transition: width 0.3s ease-in-out;
}
a:hover::before {
    width: 100%;
}


#pageTransition{
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #F4F2F8;

    transform: translate(-100%);

    transition: transform 0.5s ease-in-out;
}
